In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
%load_ext sql

In [3]:
# PostgreSQL database connection information for dsi324_db
host = '172.25.16.1'
port = '5432'
dbname = 'dsi324_db'
user = 'postgres'
password = '1234'

In [4]:
# Connection string for dsi324_db
connection_string = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}"
%sql $connection_string
%config SqlMagic.autopandas = True
%config SqlMagic.displaycon = False
engine = create_engine(connection_string)
conn = engine.connect()
conn

### Inner Join student_info with professor

In [5]:
%%sql
select * from student_info;

120 rows affected.

,student_id,first_name,last_name,academic_year,tel,email,gpax,professor_id
0,6124650001,สมชาย,ใจเย็น,4,0947238512,somchai@dome.tu.ac.th,3.50,2845601001
1,6124650002,ยิ่งสาว,วัฒนศักดิ์,4,0863429876,yingsao@dome.tu.ac.th,3.75,2845601002
2,6124650003,คงบวร,ศรีสมบูรณ์,4,0815672349,kongbop@dome.tu.ac.th,2.75,2845601003
3,6124650004,ไจเด็ด,บุญล้ำ,4,0928351640,jaidee@dome.tu.ac.th,3.92,2845601004
4,6124650005,สุขใจ,วัชรพล,4,0879413258,sukjai@dome.tu.ac.th,3.25,2845601005
...,...,...,...,...,...,...,...,...
115,6324650036,อรุณ,รุ่งอรุณ,4,0947238512,pannita@dome.tu.ac.th,2.75,2845601006
116,6324650037,ปภัสสร,มงคล,4,0863429876,nantima@dome.tu.ac.th,3.50,2845601001
117,6324650038,ภีม,วัชรพล,4,0815672349,pimwalai@dome.tu.ac.th,3.00,2845601002
118,6324650039,ภูริช,ศักดิ์สมบูรณ์,4,0928351640,pichit@dome.tu.ac.th,4.00,2845601003
119,6324650040,ธัช,พงศ์พิทักษ์,4,0879413258,naphassorn@dome.tu.ac.th,2.95,2845601004

In [6]:
%%sql
select * from professor;

6 rows affected.

,professor_id,professor_firstname,professor_lastname,email
0,2845601001,ผู้ช่วยศาสตราจารย์ ดร.รัชฎา,คงคะจันทร์,krachada@tu.ac.th
1,2845601002,ผู้ช่วยศาสตราจารย์ ดร.วสิศ,ลิ้มประเสริฐ,wasit@tu.ac.th
2,2845601003,ผู้ช่วยศาสตราจารย์ ดร.ศรัณย์,กุลยานนท์,sarung@tu.ac.th
3,2845601004,อาจารย์ ดร.สมเกียรติ,โกศลสมบัติ,somkiatk@tu.ac.th
4,2845601005,อาจารย์ ดร.ธนัชพรรณ,เพ็ชรรัตน์,thanatch@tu.ac.th
5,2845601006,อาจารย์ ดร.ทวีวัฒน์,เหลืองวิริยะ,taweewat.l@tu.ac.th

In [7]:
%%sql
SELECT s.student_id, s.first_name, s.last_name, s.academic_year, s.tel, s.email, s.gpax, p.professor_id, p.professor_firstname, p.professor_lastname, p.email AS professor_email
FROM student_info AS s
INNER JOIN professor AS p ON s.professor_id = p.professor_id;

120 rows affected.

,student_id,first_name,last_name,academic_year,tel,email,gpax,professor_id,professor_firstname,professor_lastname,professor_email
0,6124650001,สมชาย,ใจเย็น,4,0947238512,somchai@dome.tu.ac.th,3.50,2845601001,ผู้ช่วยศาสตราจารย์ ดร.รัชฎา,คงคะจันทร์,krachada@tu.ac.th
1,6124650002,ยิ่งสาว,วัฒนศักดิ์,4,0863429876,yingsao@dome.tu.ac.th,3.75,2845601002,ผู้ช่วยศาสตราจารย์ ดร.วสิศ,ลิ้มประเสริฐ,wasit@tu.ac.th
2,6124650003,คงบวร,ศรีสมบูรณ์,4,0815672349,kongbop@dome.tu.ac.th,2.75,2845601003,ผู้ช่วยศาสตราจารย์ ดร.ศรัณย์,กุลยานนท์,sarung@tu.ac.th
3,6124650004,ไจเด็ด,บุญล้ำ,4,0928351640,jaidee@dome.tu.ac.th,3.92,2845601004,อาจารย์ ดร.สมเกียรติ,โกศลสมบัติ,somkiatk@tu.ac.th
4,6124650005,สุขใจ,วัชรพล,4,0879413258,sukjai@dome.tu.ac.th,3.25,2845601005,อาจารย์ ดร.ธนัชพรรณ,เพ็ชรรัตน์,thanatch@tu.ac.th
...,...,...,...,...,...,...,...,...,...,...,...
115,6324650036,อรุณ,รุ่งอรุณ,4,0947238512,pannita@dome.tu.ac.th,2.75,2845601006,อาจารย์ ดร.ทวีวัฒน์,เหลืองวิริยะ,taweewat.l@tu.ac.th
116,6324650037,ปภัสสร,มงคล,4,0863429876,nantima@dome.tu.ac.th,3.50,2845601001,ผู้ช่วยศาสตราจารย์ ดร.รัชฎา,คงคะจันทร์,krachada@tu.ac.th
117,6324650038,ภีม,วัชรพล,4,0815672349,pimwalai@dome.tu.ac.th,3.00,2845601002,ผู้ช่วยศาสตราจารย์ ดร.วสิศ,ลิ้มประเสริฐ,wasit@tu.ac.th
118,6324650039,ภูริช,ศักดิ์สมบูรณ์,4,0928351640,pichit@dome.tu.ac.th,4.00,2845601003,ผู้ช่วยศาสตราจารย์ ดร.ศรัณย์,กุลยานนท์,sarung@tu.ac.th
119,6324650040,ธัช,พงศ์พิทักษ์,4,0879413258,naphassorn@dome.tu.ac.th,2.95,2845601004,อาจารย์ ดร.สมเกียรติ,โกศลสมบัติ,somkiatk@tu.ac.th

### Inner join student_address with address_info

In [8]:
%%sql
select * from student_address;

120 rows affected.

     student_id address_id address
0    6124650001     100102  72/277
1    6124650002     100502  89/952
2    6124650003     100502  50/940
3    6124650004     100601  35/781
4    6124650005     101102  88/849
..          ...        ...     ...
115  6324650036     101201  64/704
116  6324650037     101302  66/980
117  6324650038     101201  84/175
118  6324650039     100502  31/277
119  6324650040     101001  62/716

[120 rows x 3 columns]

In [9]:
%%sql
select * from address_info;

89 rows affected.

   address_id     sub_district     district       province post_no
0   100101     พระบรมมหาราชวัง       พระนคร  กรุงเทพมหานคร   10200
1   100102      วังบูรพาภิรมย์       พระนคร  กรุงเทพมหานคร   10200
2   100103          วัดราชบพิธ       พระนคร  กรุงเทพมหานคร   10200
3   100104         สำราญราษฎร์       พระนคร  กรุงเทพมหานคร   10200
4   100105      ศาลเจ้าพ่อเสือ       พระนคร  กรุงเทพมหานคร   10200
..        ...              ...          ...            ...     ...
84  102003          บางขุนนนท์   บางกอกน้อย  กรุงเทพมหานคร   10700
85  102004           บางขุนศรี   บางกอกน้อย  กรุงเทพมหานคร   10700
86  102005        อรุณอมรินทร์   บางกอกน้อย  กรุงเทพมหานคร   10700
87  102101             ท่าข้าม  บางขุนเทียน  กรุงเทพมหานคร   10150
88  102102               แสมดำ  บางขุนเทียน  กรุงเทพมหานคร   10150

[89 rows x 5 columns]

In [10]:
%%sql
SELECT s.student_id, s.address, a.address_id, a.sub_district, a.district, a.province, a.post_no
FROM student_address AS s
INNER JOIN address_info AS a ON s.address_id = a.address_id;

120 rows affected.

,student_id,address,address_id,sub_district,district,province,post_no
0,6124650001,72/277,100102,วังบูรพาภิรมย์,พระนคร,กรุงเทพมหานคร,10200
1,6124650002,89/952,100502,ท่าแร้ง,บางเขน,กรุงเทพมหานคร,10220
2,6124650003,50/940,100502,ท่าแร้ง,บางเขน,กรุงเทพมหานคร,10220
3,6124650004,35/781,100601,คลองจั่น,บางกะปิ,กรุงเทพมหานคร,10240
4,6124650005,88/849,101102,คลองสองต้นนุ่น,ลาดกระบัง,กรุงเทพมหานคร,10520
...,...,...,...,...,...,...,...
115,6324650036,64/704,101201,ช่องนนทรี,ยานนาวา,กรุงเทพมหานคร,10120
116,6324650037,66/980,101302,สัมพันธวงศ์,สัมพันธวงศ์,กรุงเทพมหานคร,10100
117,6324650038,84/175,101201,ช่องนนทรี,ยานนาวา,กรุงเทพมหานคร,10120
118,6324650039,31/277,100502,ท่าแร้ง,บางเขน,กรุงเทพมหานคร,10220
119,6324650040,62/716,101001,มีนบุรี,มีนบุรี,กรุงเทพมหานคร,10510

### Inner Join student_info with student_emergency_contact

In [11]:
%%sql
SELECT
    si.student_id,
    si.first_name AS student_first_name,
    si.last_name AS student_last_name,
    si.academic_year,
    si.tel AS student_tel,
    si.email AS student_email,
    sec.first_name AS emergency_contact_first_name,
    sec.last_name AS emergency_contact_last_name,
    sec.address_id AS emergency_contact_address_id,
    sec.address AS emergency_contact_address,
    sec.relationship AS emergency_contact_relationship,
    sec.workplace AS emergency_contact_workplace,
    sec.tel AS emergency_contact_tel,
    sec.fax AS emergency_contact_fax
FROM
    student_info AS si
INNER JOIN
    student_emergency_contact AS sec ON si.student_id = sec.student_id;

120 rows affected.

,student_id,student_first_name,student_last_name,academic_year,student_tel,student_email,emergency_contact_first_name,emergency_contact_last_name,emergency_contact_address_id,emergency_contact_address,emergency_contact_relationship,emergency_contact_workplace,emergency_contact_tel,emergency_contact_fax
0,6124650001,สมชาย,ใจเย็น,4,0947238512,somchai@dome.tu.ac.th,นาง ดวงใจ,ใจเย็น,100102,72/277,แม่,บริษัทประกันภัยสุขสบาย,0947238512,-
1,6124650002,ยิ่งสาว,วัฒนศักดิ์,4,0863429876,yingsao@dome.tu.ac.th,นาย ภา,วัฒนศักดิ์,100502,89/952,พี่ชาย,บริษัทขนส่งกรุงเทพ,0863429876,-
2,6124650003,คงบวร,ศรีสมบูรณ์,4,0815672349,kongbop@dome.tu.ac.th,นางสาว อร,ศรีสมบูรณ์,100502,50/940,พี่สาว,ร้านขายหนังสือหรู,0815672349,-
3,6124650004,ไจเด็ด,บุญล้ำ,4,0928351640,jaidee@dome.tu.ac.th,นาย อรุณ,บุญล้ำ,100601,35/781,พ่อ,โรงภาพยนตร์กลาง,0928351640,-
4,6124650005,สุขใจ,วัชรพล,4,0879413258,sukjai@dome.tu.ac.th,นางสาว ใจดี,วัชรพล,101102,88/849,แม่,สวนสนุกสุขสันต์,0879413258,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,6324650036,อรุณ,รุ่งอรุณ,4,0947238512,pannita@dome.tu.ac.th,นาย ธนพล,แสงจันทร์,101201,64/704,พ่อ,บริษัท กลาง,0947238512,-
116,6324650037,ปภัสสร,มงคล,4,0863429876,nantima@dome.tu.ac.th,นาย ธนวัฒน์,ทองคำเปลว,101302,66/980,พี่ชาย,โรงเรียน ส่งออกไทย,0863429876,-
117,6324650038,ภีม,วัชรพล,4,0815672349,pimwalai@dome.tu.ac.th,นาย ชนะศักดิ์,ใจงาม,101201,84/175,พ่อ,มหาวิทยาลัย อุ่นใจ,0815672349,-
118,6324650039,ภูริช,ศักดิ์สมบูรณ์,4,0928351640,pichit@dome.tu.ac.th,นางสาว ธนวรรณ,วิไลพร,100502,31/277,พี่สาว,โรงพยาบาล อุ่นใจ,0928351640,-
119,6324650040,ธัช,พงศ์พิทักษ์,4,0879413258,naphassorn@dome.tu.ac.th,นาย ธนพล,วงศ์วัฒน์,101001,62/716,พี่ชาย,ร้านอาหาร กรุงเทพ,0879413258,-

### Inner Join student_info with student_emergency_contact with address_info

In [12]:
%%sql
SELECT
    si.student_id,
    si.first_name AS student_first_name,
    si.last_name AS student_last_name,
    si.academic_year,
    si.tel AS student_tel,
    si.email AS student_email,
    sec.first_name AS emergency_contact_first_name,
    sec.last_name AS emergency_contact_last_name,
    sec.address_id AS emergency_contact_address_id,
    sec.address AS emergency_contact_address,
    sec.relationship AS emergency_contact_relationship,
    sec.workplace AS emergency_contact_workplace,
    sec.tel AS emergency_contact_tel,
    sec.fax AS emergency_contact_fax,
    a.sub_district,
    a.district,
    a.province,
    a.post_no
FROM
    student_info AS si
INNER JOIN
    student_emergency_contact AS sec ON si.student_id = sec.student_id
INNER JOIN
    address_info AS a ON sec.address_id = a.address_id;

120 rows affected.

,student_id,student_first_name,student_last_name,academic_year,student_tel,student_email,emergency_contact_first_name,emergency_contact_last_name,emergency_contact_address_id,emergency_contact_address,emergency_contact_relationship,emergency_contact_workplace,emergency_contact_tel,emergency_contact_fax,sub_district,district,province,post_no
0,6124650001,สมชาย,ใจเย็น,4,0947238512,somchai@dome.tu.ac.th,นาง ดวงใจ,ใจเย็น,100102,72/277,แม่,บริษัทประกันภัยสุขสบาย,0947238512,-,วังบูรพาภิรมย์,พระนคร,กรุงเทพมหานคร,10200
1,6124650002,ยิ่งสาว,วัฒนศักดิ์,4,0863429876,yingsao@dome.tu.ac.th,นาย ภา,วัฒนศักดิ์,100502,89/952,พี่ชาย,บริษัทขนส่งกรุงเทพ,0863429876,-,ท่าแร้ง,บางเขน,กรุงเทพมหานคร,10220
2,6124650003,คงบวร,ศรีสมบูรณ์,4,0815672349,kongbop@dome.tu.ac.th,นางสาว อร,ศรีสมบูรณ์,100502,50/940,พี่สาว,ร้านขายหนังสือหรู,0815672349,-,ท่าแร้ง,บางเขน,กรุงเทพมหานคร,10220
3,6124650004,ไจเด็ด,บุญล้ำ,4,0928351640,jaidee@dome.tu.ac.th,นาย อรุณ,บุญล้ำ,100601,35/781,พ่อ,โรงภาพยนตร์กลาง,0928351640,-,คลองจั่น,บางกะปิ,กรุงเทพมหานคร,10240
4,6124650005,สุขใจ,วัชรพล,4,0879413258,sukjai@dome.tu.ac.th,นางสาว ใจดี,วัชรพล,101102,88/849,แม่,สวนสนุกสุขสันต์,0879413258,-,คลองสองต้นนุ่น,ลาดกระบัง,กรุงเทพมหานคร,10520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,6324650036,อรุณ,รุ่งอรุณ,4,0947238512,pannita@dome.tu.ac.th,นาย ธนพล,แสงจันทร์,101201,64/704,พ่อ,บริษัท กลาง,0947238512,-,ช่องนนทรี,ยานนาวา,กรุงเทพมหานคร,10120
116,6324650037,ปภัสสร,มงคล,4,0863429876,nantima@dome.tu.ac.th,นาย ธนวัฒน์,ทองคำเปลว,101302,66/980,พี่ชาย,โรงเรียน ส่งออกไทย,0863429876,-,สัมพันธวงศ์,สัมพันธวงศ์,กรุงเทพมหานคร,10100
117,6324650038,ภีม,วัชรพล,4,0815672349,pimwalai@dome.tu.ac.th,นาย ชนะศักดิ์,ใจงาม,101201,84/175,พ่อ,มหาวิทยาลัย อุ่นใจ,0815672349,-,ช่องนนทรี,ยานนาวา,กรุงเทพมหานคร,10120
118,6324650039,ภูริช,ศักดิ์สมบูรณ์,4,0928351640,pichit@dome.tu.ac.th,นางสาว ธนวรรณ,วิไลพร,100502,31/277,พี่สาว,โรงพยาบาล อุ่นใจ,0928351640,-,ท่าแร้ง,บางเขน,กรุงเทพมหานคร,10220
119,6324650040,ธัช,พงศ์พิทักษ์,4,0879413258,naphassorn@dome.tu.ac.th,นาย ธนพล,วงศ์วัฒน์,101001,62/716,พี่ชาย,ร้านอาหาร กรุงเทพ,0879413258,-,มีนบุรี,มีนบุรี,กรุงเทพมหานคร,10510

#### Query

In [13]:
%sql select * from student_skills

120 rows affected.

,student_id,technical_skills,sp_muskills,other_skills,language_skills,workshop,work_exp,award
0,6124650001,"Python, SQL",None,None,"[{'language': 'ภาษาอังกฤษ ', 'reading': '2', '...","[{'workshop1': {'period': 'มีนาคม 2569', 'orga...","[{'period': 'มกราคม 2557', 'organization': Non...","[{'award': 'โอลิมปิค สอวน. ฟิสิกส์ ค่าย2', 'aw..."
1,6124650002,"Python, SQL, Power BI",None,None,"[{'language': 'ภาษาอังกฤษ ', 'reading': '2', '...",None,"[{'period': 'กุมภาพันธ์ 2560', 'organization':...","[{'award': 'รางวัลเกษตรกรดีเด่นแห่งชาติ', 'awa..."
2,6124650003,"Python, SQL, Power BI, Tableau",เทควันโด วโรกาสซิตี้เทรลเลอร์วิน,แบดโดนัท ว้าวเบนโตะ กิมจิ,"[{'language': 'ภาษาอังกฤษ', 'reading': '2', 'w...","[{'workshop1': {'period': 'มกราคม 2567', 'orga...",None,None
3,6124650004,"Python, SQL, Power BI",None,None,"[{'language': 'ภาษาอังกฤษ', 'reading': '2', 'w...",None,"[{'period': 'กรกฎาคม 2561', 'organization': 'ม...","[{'award': 'รางวัลผู้นำชุมชนดีเด่น', 'awarded_..."
4,6124650005,"Python, SQL",None,None,"[{'language': 'ภาษาอังกฤษ', 'reading': '2', 'w...","[{'workshop1': {'period': 'มีนาคม 2567', 'orga...","[{'period': 'กันยายน 2562', 'organization': 'อ...",None
...,...,...,...,...,...,...,...,...
115,6324650036,"Python, SQL, Power BI",เทควันโด วโรกาสซิตี้เทรลเลอร์วิน,แบดโดนัท ว้าวเบนโตะ กิมจิ,"[{'language': 'ภาษาอังกฤษ', 'reading': '2', 'w...",None,None,None
116,6324650037,"Python, SQL, Power BI, Tableau, R",None,None,"[{'language': 'ภาษาจีน', 'reading': '2', 'writ...","[{'workshop1': {'period': 'สิงหาคม 2568', 'org...",None,None
117,6324650038,"Python, SQL",None,None,"[{'language': 'ภาษาอังกฤษ', 'reading': '2', 'w...",None,"[{'period': 'มิถุนายน 2577', 'organization': '...",None
118,6324650039,"Python, SQL, Power BI",None,เทควันโด วโรกาสซิตี้เทรลเลอร์วิน,"[{'language': 'ภาษาอังกฤษ', 'reading': '3', 'w...","[{'workshop1': {'period': 'มิถุนายน 2568', 'or...",None,"[{'award': 'รางวัลนักเขียนบทละครยอดเยี่ยม', 'a..."
119,6324650040,"Python, SQL",None,None,"[{'language': 'ภาษาอังกฤษ', 'reading': '3', 'w...",None,"[{'period': 'มิถุนายน 2573', 'organization': '...",None

#### Inner Join student_info with co

In [14]:
%sql select * from cooperative_student_questionnaire

120 rows affected.

,student_id,company_id,rvfirst_name,rvlast_name,position,quantity_work,quality_work,acad_ability,ability_apply,prac_ability,...,initiative,supervision_response,personality,interpersonal_skills,discipline_adapt,ethics_morality,strength,need_improvement,further_offer,comments
0,6124650001,4113000101,ณภา,ภู่ทอง,ผู้จัดการทั่วไปและบัญชีการเงิน,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,นิสัยดี,Business Skill,รับ,ขอบคุณนักศึกษาค่ะพี่ๆ ได้ช่วยงานสำนักงานได้เป็...
1,6124650002,4113000102,ธนพล,วงศ์วัฒนะ,Data Processor and Dashboard center Executive,4.0,4.0,4.0,4.0,4.0,...,3.0,4.0,3.0,3.0,3.0,4.0,Skill เหมาะสมกับตำแหน่ง,ETL,รับ,-
2,6124650003,4113000101,ภาวินี,ศรีวัฒน์,Senior Data Support Engineer,5.0,5.0,4.0,5.0,5.0,...,4.0,5.0,5.0,5.0,4.0,5.0,ตั้งใจทำงาน,JavaScript,รับ,-
3,6124650004,4113000103,ชินวัตร,วุฒิชัย,ผู้เชี่ยวชาญ,5.0,5.0,5.0,5.0,5.0,...,4.0,5.0,4.0,4.0,4.0,5.0,-,-,รับ,-
4,6124650005,4113000104,พชรพรรณ,จารุวัฒน์,ผู้อำนวยการส่วนวิจัยและพัฒนาอุปกรณ์พิเศษ,4.0,4.0,5.0,4.0,4.0,...,4.0,4.0,4.0,4.0,5.0,4.0,มนุษย์สัมพันธ์ดี,ขาดการวิเคราะห์งาน\nในเชิงลึก,รับ,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,6324650036,4113000131,อรุณ,รุ่งอรุณ,ฝ่ายบุคคล,4.0,4.0,4.0,4.0,4.0,...,4.0,5.0,4.0,4.0,4.0,5.0,-,-,รับ,-
116,6324650037,4113000103,ปภัสสร,มงคล,ฝ่ายบุคคล,5.0,5.0,4.0,4.0,4.0,...,NaN,4.0,5.0,4.0,4.0,4.0,มีความตรงต่อเวลา,JavaScript,รับ,นักศึกษาพร้อมที่จะรับสิ่งใหม่ๆเเละสามารถปรับตั...
117,6324650038,4113000128,ภีม,วัชรพล,ฝ่ายบุคคล,3.0,4.0,4.0,4.0,4.0,...,4.0,5.0,5.0,5.0,5.0,5.0,-,-,รับ,-
118,6324650039,4113000116,ภูริช,ศักดิ์สมบูรณ์,IT Manager,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,-,-,รับ,-
119,6324650040,4113000103,ธัช,พงศ์พิทักษ์,Data Scientist,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,ปรับตัวได้เร็ว,-,รับ,-

#### sql

In [15]:
%sql select * from cooperative_student_questionnaire;

120 rows affected.

,student_id,company_id,rvfirst_name,rvlast_name,position,quantity_work,quality_work,acad_ability,ability_apply,prac_ability,...,initiative,supervision_response,personality,interpersonal_skills,discipline_adapt,ethics_morality,strength,need_improvement,further_offer,comments
0,6124650001,4113000101,ณภา,ภู่ทอง,ผู้จัดการทั่วไปและบัญชีการเงิน,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,นิสัยดี,Business Skill,รับ,ขอบคุณนักศึกษาค่ะพี่ๆ ได้ช่วยงานสำนักงานได้เป็...
1,6124650002,4113000102,ธนพล,วงศ์วัฒนะ,Data Processor and Dashboard center Executive,4.0,4.0,4.0,4.0,4.0,...,3.0,4.0,3.0,3.0,3.0,4.0,Skill เหมาะสมกับตำแหน่ง,ETL,รับ,-
2,6124650003,4113000101,ภาวินี,ศรีวัฒน์,Senior Data Support Engineer,5.0,5.0,4.0,5.0,5.0,...,4.0,5.0,5.0,5.0,4.0,5.0,ตั้งใจทำงาน,JavaScript,รับ,-
3,6124650004,4113000103,ชินวัตร,วุฒิชัย,ผู้เชี่ยวชาญ,5.0,5.0,5.0,5.0,5.0,...,4.0,5.0,4.0,4.0,4.0,5.0,-,-,รับ,-
4,6124650005,4113000104,พชรพรรณ,จารุวัฒน์,ผู้อำนวยการส่วนวิจัยและพัฒนาอุปกรณ์พิเศษ,4.0,4.0,5.0,4.0,4.0,...,4.0,4.0,4.0,4.0,5.0,4.0,มนุษย์สัมพันธ์ดี,ขาดการวิเคราะห์งาน\nในเชิงลึก,รับ,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,6324650036,4113000131,อรุณ,รุ่งอรุณ,ฝ่ายบุคคล,4.0,4.0,4.0,4.0,4.0,...,4.0,5.0,4.0,4.0,4.0,5.0,-,-,รับ,-
116,6324650037,4113000103,ปภัสสร,มงคล,ฝ่ายบุคคล,5.0,5.0,4.0,4.0,4.0,...,NaN,4.0,5.0,4.0,4.0,4.0,มีความตรงต่อเวลา,JavaScript,รับ,นักศึกษาพร้อมที่จะรับสิ่งใหม่ๆเเละสามารถปรับตั...
117,6324650038,4113000128,ภีม,วัชรพล,ฝ่ายบุคคล,3.0,4.0,4.0,4.0,4.0,...,4.0,5.0,5.0,5.0,5.0,5.0,-,-,รับ,-
118,6324650039,4113000116,ภูริช,ศักดิ์สมบูรณ์,IT Manager,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,-,-,รับ,-
119,6324650040,4113000103,ธัช,พงศ์พิทักษ์,Data Scientist,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,ปรับตัวได้เร็ว,-,รับ,-

In [17]:
%sql select * from student_education_history

120 rows affected.

,student_id,middle_school_id,high_school_id,bachelor_university_id,middle_school_end_year,high_school_end_year,bachelor_end_year,middle_school_gpax,high_school_gpax,bachelor_gpax
0,6124650001,549000019,549000019,549000018,2555,2559,2565,3.64,3.78,3.50
1,6124650002,549000020,549000020,549000018,2554,2559,2565,3.98,3.34,3.75
2,6124650003,549000021,549000021,549000018,2555,2560,2565,3.29,3.89,2.75
3,6124650004,549000022,549000022,549000018,2555,2559,2565,3.87,3.56,3.92
4,6124650005,549000023,549000023,549000018,2554,2560,2565,3.45,3.20,3.25
...,...,...,...,...,...,...,...,...,...,...
115,6324650036,549000041,549000041,549000018,2555,2559,2567,3.64,3.78,2.75
116,6324650037,549000038,549000038,549000018,2554,2559,2567,3.98,3.34,3.50
117,6324650038,549000025,549000025,549000018,2555,2560,2567,3.29,3.89,3.00
118,6324650039,549000026,549000026,549000018,2555,2559,2567,3.87,3.56,4.00
119,6324650040,549000027,549000027,549000018,2554,2560,2567,3.45,3.35,2.95